body {
    background-color:rgba(118, 35, 114, 0.537);
}

p {
    cursor:grab;
}

a{
    color: green;
    text-decoration: none;
    cursor:crosshair;
}

a:visited {
    color: brown;
}

a:hover {
    background-color:cadetblue;
}