body {
    background-color: rgb(115, 203, 115);
    margin: 20px;
    font-size: 20px;
}

p {
    color: white;
    background-color: rgba(229, 218, 57, 0.5);
    padding: 30px;
    margin: 30px;
}

li {
    color: rgb(218, 105, 74);
}

ol {
    background-color: aquamarine;
}

.introduction {
    background-color: rgb(149, 184, 93);
    border: 60px dotted lightblue;
}